body {
  margin: 0;
  padding: 0;
  background-color: black !important;
}

.page-header {
  position: relative; /* Changed to relative */
  width: 100%; /* Changed to 100% */
  height: 20vh; /* Changed to viewport height (20%) */
  text-align: center; /* Center the text */
}

.menu {
  position: relative; /* Changed to relative */
  /* padding: 5px; */
}

.logo {
  width: 300px;
  height: 120px;
  margin-top: 25px;
  transform: rotate(-5deg);
  box-shadow: 0 0 15px #FFCC00;
}

.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}

.movie-card {
  position: relative;
}