body {
  margin: 0;
  padding: 0;
  background-color: #28282B !important;
}

.page-header {
  position: relative;
  background-color:#1030ad;
  width: 100%;
  height: 20vh;
}


.menu-bar {
  position: relative;
  width: 95%;
  left: 2.5%;
  /* padding: 5px; */
}

.shopping-cart {
  position: absolute;
  top: 65%;
  right: 3%;
  transform: translate(0%, -50%);
}

.logo {
  text-align: left;
  width: 300px;
  height: 120px;
  margin-top: 25px;
  margin-left: 5%;
  transform: rotate(-5deg);
  box-shadow: 0 0 15px #FFCC00;
}

.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}

.movie-card {
  left: 5%;
  box-shadow: 5px 5px 15px black 5px 5px 15px #FFCC00;
}